rw_dir_file(bluetooth, sysfs)
rw_dir_file(bluetooth, sysfs_bluetooth_writable)

allow bluetooth smd_device:chr_file rw_file_perms;
allow bluetooth bluetooth_prop:property_service set;
