rw_dir_file(bluetooth, sysfs)
rw_dir_file(bluetooth, sysfs_bluetooth_writable)

allow bluetooth storage_stub_file:dir r_dir_perms;
allow bluetooth smd_device:chr_file rw_file_perms;
