type cashsvr, domain;
type cashsvr_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(cashsvr)

allow cashsvr self:capability { chown setuid };

allow cashsvr cashsvr_socket:dir rw_dir_perms;
allow cashsvr cashsvr_socket:sock_file create_file_perms;

allow cashsvr input_device:dir search;
allow cashsvr input_device:chr_file r_file_perms;

allow cashsvr sysfs_tof_sensor:file { rw_file_perms setattr };
allow cashsvr sysfs:file r_file_perms;
