allow fsck random_device:file getattr;
allow fsck block_device:blk_file { getattr ioctl };
allow fsck persist_block_device:blk_file { ioctl rw_file_perms };
