allow hal_fingerprint_default sysfs:file rw_file_perms;
allow hal_fingerprint_default tee_device:chr_file rw_file_perms;
allow hal_fingerprint_default firmware_file:file { read open getattr };
allow hal_fingerprint_default firmware_file:dir search;
allow hal_fingerprint_default oemfs:dir search;
