allow hal_gatekeeper_default firmware_file:dir search;

get_prop(hal_gatekeeper_default, tee_listener_prop)
set_prop(hal_gatekeeper_default, keymaster_prop)
