#For sdcard
allow init tmpfs:lnk_file create_file_perms;
allow init tmpfs:file create_file_perms;
allow init tmpfs:dir create_dir_perms;

allow init proc_kernel_sched:file write;

allow init {
    adsprpcd_file
    persist_file
}:dir mounton;

allow init debugfs:file w_file_perms;
allow init sysfs:dir w_dir_perms;

allow init kernel:system module_request;

# configFS
allow init configfs:file write;
allow init configfs:lnk_file { create unlink };

allow init ipa_dev:chr_file write;

# BT
allow init hci_attach_dev:chr_file rw_file_perms;
allow init serial_device:chr_file rw_file_perms;

allow init sysfs_devices_system_cpu:dir { w_dir_perms relabelfrom };
