# symlink /sdcard to backing block
allow init tmpfs:lnk_file create;
allow init configfs:file rw_file_perms;
allow init configfs:lnk_file { create unlink };

allow init { firmware_file bt_firmware_file persist_file qdsp_file }:dir mounton;
allow init proc_irq:file w_file_perms;

dontaudit init kernel:system module_request;

# init_power.te
allow init sysfs_devices_system_cpu:dir w_dir_perms;
allow init sysfs_devices_system_cpu:file w_file_perms;

allow init cgroup:file create;
allow init proc_irq:dir { add_name write };
allow init proc_irq:file create;
allow init sysfs:dir add_name;
allow init sysfs:file create;
allow init sysfs_msm_subsys:dir { add_name write };
allow init sysfs_msm_subsys:file create;
allow init sysfs_msm_subsys_restart:dir { add_name write };
allow init sysfs_msm_subsys_restart:file create;
allow init sysfs_devices_system_cpu:file create;
allow init sysfs_zram:dir { add_name write };
allow init sysfs_zram:file create;
