type location, domain;
type location_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(location)

allow location sysfs_soc:dir rw_dir_perms;
allow location sysfs_soc:file r_file_perms;
allow location sysfs_msm_subsys:dir rw_dir_perms;
allow location sysfs_msm_subsys:file r_file_perms;
allow location qmuxd_socket:dir rw_dir_perms;
allow location qmuxd_socket:sock_file create_file_perms;
unix_socket_connect(location, qmuxd, qmuxd)

# /data/vendor/location
allow location location_data_file:dir create_dir_perms;
allow location location_data_file:{ file sock_file } create_file_perms;

# whitelist socket ioctl commands
allow location self:socket create_socket_perms;
allowxperm location self:socket ioctl msm_sock_ipc_ioctls;
