type msm_irqbalanced, domain;
type msm_irqbalanced_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(msm_irqbalanced);

allow msm_irqbalanced self:capability { setgid setuid };

# Allow to read and write files in /sys/devices/system/cpu/:
allow msm_irqbalanced sysfs_devices_system_cpu:file rw_file_perms;

# Allow msm_irqbalanced to search irq and set SMP affinity:
r_dir_rw_file(msm_irqbalanced, proc_irq)

allow msm_irqbalanced sysfs_irq:file r_file_perms;
allow msm_irqbalanced proc_stat:file r_file_perms;
allow msm_irqbalanced proc_interrupts:file r_file_perms;
