type odmcheck, domain;
type odmcheck_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(odmcheck)

# Needs to be able to set sys.powerctl
set_prop(odmcheck, system_prop)
set_prop(odmcheck, powerctl_prop)

# Write to /dev/kmsg
allow odmcheck kmsg_device:chr_file rw_file_perms;

# Read access to pseudo filesystems.
r_dir_file(odmcheck, sysfs_type)
r_dir_file(odmcheck, rootfs)
r_dir_file(odmcheck, oemfs);

allow odmcheck device:dir r_dir_perms;

allow odmcheck graphics_device:dir r_dir_perms;
allow odmcheck graphics_device:chr_file rw_file_perms;
allow odmcheck input_device:dir r_dir_perms;
allow odmcheck input_device:chr_file r_file_perms;
allow odmcheck tty_device:chr_file rw_file_perms;
allow odmcheck ashmem_device:chr_file execute;
allow odmcheck self:process execmem;

# Read from /sys/class/leds/lcd-backlight/max_brightness and write to /s/c/l/l/brightness to
# control backlight brightness.
# allow odmcheck sysfs_leds:dir r_dir_perms;
# allow odmcheck sysfs_leds:file rw_file_perms;
# allow odmcheck sysfs_leds:lnk_file read;

allow odmcheck sysfs:file write;
rw_dir_file(odmcheck, sysfs_msm_subsys)
