type pad_controller, domain;
type pad_controller_exec, exec_type, file_type;

init_daemon_domain(pad_controller)

unix_socket_connect(pad_controller, tad, tad)

allow pad_controller init:unix_stream_socket { 
    rw_socket_perms
    connectto
};

allow pad_controller sys_pad_prop:property_service { set };

allow pad_controller property_socket:sock_file write;

allow pad_controller sysfs_pad_controller:file rw_file_perms;
