allow priv_app vfat:dir {
    add_name
    create
    setattr
    rmdir
    rename
    remove_name
    write
};

allow priv_app vfat:file { create getattr setattr unlink };

r_dir_file(priv_app, device)

allow priv_app {
    radio_data_file
    block_device
    system_app_data_file
    nfc_data_file
    bluetooth_data_file
    storage_stub_file
}:dir getattr;

allow priv_app {
    proc_sysrq
    proc_iomem
}:file getattr;

allow priv_app sysfs:dir r_dir_perms;
allow priv_app sysfs:file r_file_perms;
