binder_call(audioserver, rild)
binder_call(rild, audioserver)
binder_call(rild, mediaserver)
binder_use(rild)
binder_service(rild)

qmux_socket(rild);

#Allow access to netmgrd socket
netmgr_socket(rild);

# Rule for RILD to talk to peripheral manager
use_per_mgr(rild);

allow rild powerhal_socket:sock_file create_file_perms;

allow rild self:socket create_socket_perms;
allowxperm rild self:socket ioctl msm_sock_ipc_ioctls;

allow rild sysfs_pronto:file r_file_perms;
allow rild { audioserver_service mediaserver_service }:service_manager find;
allow rild system_health_monitor_device:chr_file r_file_perms;

allow rild vendor_file:file lock;

rw_dir_file(rild, powerhal_socket)
r_dir_file(rild, sysfs_socinfo)
r_dir_file(rild, sysfs_subsys)
r_dir_file(rild, sysfs_ssr)
r_dir_file(rild, netmgrd)

