# Policy for sensor daemon
type sscrpcd, domain;
type sscrpcd_exec, exec_type, vendor_file_type, file_type;

init_daemon_domain(sscrpcd)

allow sscrpcd self:capability {
    net_bind_service
};
