type start_hci_filter, domain;
type start_hci_filter_exec, exec_type, file_type;

init_daemon_domain(start_hci_filter);

get_prop(start_hci_filter, bluetooth_prop)

allow start_hci_filter self:capability2 block_suspend;
allow start_hci_filter bluetooth_data_file:file { read append };
allow start_hci_filter hci_attach_dev:chr_file { ioctl open read write };
