allow system_server self:capability sys_module;

# timerslack_ns
allow system_server {
    audioserver
    cameraserver
    hal_audio_default
    isolated_app
    platform_app
    priv_app
    radio
    shell
    system_app
    untrusted_app
    untrusted_app_25
}:file write;

# kgsl
allow system_server debugfs_kgsl:dir search;
allow system_server debugfs_kgsl:file { open read getattr };

# PowerHAL
rw_dir_file(system_server, powerhal_socket)
allow system_server powerhal_socket:sock_file create_file_perms;

allow system_server netmgrd_socket:dir search;
allow system_server netmgrd_socket:sock_file write;
allow system_server netmgrd:unix_stream_socket connectto;
allow system_server self:socket ioctl;
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;
