# SELinux status
r_dir_file(system_app, selinuxfs)

# ExtendedSettings props
r_dir_rw_file(system_app, sysfs_graphics)
r_dir_rw_file(system_app, sysfs_pcc_profile)
set_prop(system_app, adbtcpes_prop)
set_prop(system_app, dispcal_prop)

# TimeKeep Java service
allow system_app timekeep_vendor_data_file:dir create_dir_perms;
allow system_app timekeep_vendor_data_file:file create_file_perms;
set_prop(system_app, timekeep_prop)

binder_call(system_app, per_mgr)
binder_call(system_app, wificond)
