allow system_server self:socket ioctl;
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;

binder_call(system_server, hal_camera_default)

# input files
r_dir_file(system_server, idc_file)
r_dir_file(system_server, keylayout_file)

# Allow system_server to write to /proc/<pid>/timerslack_ns
allow system_server appdomain:file w_file_perms;
allow system_server audioserver:file w_file_perms;
allow system_server hal_audio_default:file w_file_perms;

allow system_server netmgrd_socket:dir r_dir_perms;
unix_socket_connect(system_server, netmgrd, netmgrd)
allow system_server self:socket ioctl;
allowxperm system_server self:socket ioctl msm_sock_ipc_ioctls;

# radio
rw_dir_file(system_server, qmuxd_socket)
allow system_server qmuxd_socket:sock_file { create unlink };
unix_socket_connect(system_server, qmuxd, qmuxd)

# xtra
allow system_server location_data_file:sock_file write;
allow system_server location_data_file:dir search;
allow system_server location:unix_stream_socket connectto;
