allow tee device:chr_file { ioctl setattr };
allow tee device:dir { open read };
allow tee self:capability { chown sys_rawio };
allow tee sg_device:chr_file { ioctl open read setattr write };
