allow tee self:capability { chown setgid setuid sys_rawio sys_admin };

allow tee device:dir r_dir_perms;
allow tee sg_device:chr_file { ioctl open read setattr write };
