type timekeep_app, domain;

app_domain(timekeep_app)

allow timekeep_app timekeep_app_data_file:dir create_dir_perms;

r_dir_file(timekeep_app, sysfs_timekeep)

allow timekeep_app activity_service:service_manager find;
allow timekeep_app connectivity_service:service_manager find;
allow timekeep_app display_service:service_manager find;
allow timekeep_app network_management_service:service_manager find;
