type touchfusion, domain, domain_deprecated;
type touchfusion_exec, exec_type, file_type;

init_daemon_domain(touchfusion)

userdebug_or_eng(`
  allow touchfusion self:capability { 
    dac_read_search
    dac_override
    net_admin
    setgid
    setuid
    sys_nice
  };
  allow touchfusion self:socket create_socket_perms;
  allow touchfusion self:netlink_socket create_socket_perms;
')

allow touchfusion kmsg_device:chr_file rw_file_perms;
allow touchfusion cgroup:dir create_dir_perms;
allow touchfusion cgroup:file create_file_perms;
