allow untrusted_app vfat:dir rw_dir_perms;
allow untrusted_app vfat:file rw_file_perms;

allow untrusted_app {
    block_device
    storage_stub_file
}:dir getattr;

allow untrusted_app {
    proc_iomem
    proc_sysrq
}:file getattr;

allow untrusted_app sysfs:dir r_dir_perms;
allow untrusted_app sysfs:file r_file_perms;
allow untrusted_app sysfs_zram:dir r_dir_perms;
allow untrusted_app sysfs_zram:file r_file_perms;

allow untrusted_app camera_prop:file r_file_perms;
allow untrusted_app debugfs_kgsl:dir search;
