allow vold random_device:file { getattr open read };
allow vold fuse_device:dir { open read search write };
allow vold logd:dir { open read getattr };
allow vold logd:lnk_file { read getattr };
allow vold tee_prop:file r_file_perms;
allow vold kernel:system module_request;
allow vold oemfs:dir search;
allow vold apk_data_file:dir getattr;
