allow vold random_device:file { getattr open read };
allow vold storage_stub_file:dir rw_dir_perms;

allow vold tee_prop:file { r_file_perms };
allow vold kernel:system module_request;

allow vold block_device:blk_file { getattr ioctl };
