# TODO(b/vndswitch): Move this declaration to
# vendor/vndservice.te once per_proxy uses vendor binder
type per_mgr_service,              service_manager_type;
